{% extends "mybase.html" %}
{% block machine_id %}
<div class="container">
     <div class="starter-template">
       <div class="row" style="height:100vh;">
               <div class="col-md-10 col-md-offset-1">
                   <table class="table">
                     <thead>
                       <tr>
                         <th>Production Date/Hour</th>
                         <th>Machine ID</th>
                         <th>Average Production</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for val in output %}
                       <tr>
                         <td>{{val.timestamp}}</td>
                         <td>{{val.machine_id}}</td>
                         <td>{{val.prod_avg}}</td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
               </div>
       </div>
     </div>
   </div>
{% endblock %}
